.alert-success {
  font-weight: bold;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 80px;
  height: 40px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  line-height: 40px;
  padding: 0 30px;
  text-align: center;
  display: none;
  z-index: 9999; }

.heart {
  background-color: red;
  display: inline-block;
  height: 12px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 12px; }

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 12px;
  position: absolute;
  width: 12px; }

.heart:before {
  top: -6px;
  left: 0; }

.heart:after {
  left: 6px;
  top: 0; }

.gray-heart {
  background-color: gray;
  display: inline-block;
  height: 12px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 12px; }

.gray-heart:before,
.gray-heart:after {
  content: "";
  background-color: gray;
  border-radius: 50%;
  height: 12px;
  position: absolute;
  width: 12px; }

.gray-heart:before {
  top: -6px;
  left: 0; }

.gray-heart:after {
  left: 6px;
  top: 0; }

.add-speciality-pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8888;
  min-height: 100vh;
  background: #fff;
  background: #ebebeb; }
  .add-speciality-pop .title:after {
    content: "";
    display: table;
    clear: both; }
  .add-speciality-pop .header_r {
    color: #fff;
    line-height: 60px; }
  .add-speciality-pop .content {
    margin-top: 60px;
    padding-top: 60px;
    background: #fff; }
    .add-speciality-pop .content .select-list li {
      height: 60px;
      line-height: 60px;
      border-top: 1px #f6f6f6 solid;
      background: #fff; }
      .add-speciality-pop .content .select-list li .list-item {
        color: #979797;
        padding-left: 1em; }
      .add-speciality-pop .content .select-list li .selected-item {
        float: right;
        color: #2d313a;
        margin-right: .5em; }
        .add-speciality-pop .content .select-list li .selected-item img {
          margin-left: 1em; }

#estimate-detail-pop {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  z-index: 8888;
  position: fixed;
  left: 0;
  top: 0; }
  #estimate-detail-pop .estimate-detail {
    position: absolute;
    padding: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 84%;
    height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #fff; }
    #estimate-detail-pop .estimate-detail .title {
      width: 80%;
      margin-bottom: 1em; }
    #estimate-detail-pop .estimate-detail table th {
      color: #6c6c6c; }
    #estimate-detail-pop .estimate-detail table td, #estimate-detail-pop .estimate-detail table th {
      text-align: center;
      line-height: 30px; }
    #estimate-detail-pop .estimate-detail table tr:nth-child(even) {
      background: #f3f3f3; }
      #estimate-detail-pop .estimate-detail table tr:nth-child(even) td {
        color: #1e1e1e; }
    #estimate-detail-pop .estimate-detail table tr:nth-child(odd) {
      background: #fff; }
    #estimate-detail-pop .estimate-detail .close {
      display: block;
      position: absolute;
      right: .4em;
      top: 0.1em;
      font-size: 2em;
      cursor: pointer; }

.main02 .intention {
  margin-top: 20px;
  background: #fff; }
.main02 .college-info {
  padding: 1em; }
  .main02 .college-info .line {
    display: block;
    margin-bottom: 5px; }
    .main02 .college-info .line .left {
      float: left; }
    .main02 .college-info .line .right {
      float: right; }
    .main02 .college-info .line:after {
      content: "";
      display: table;
      clear: both; }
  .main02 .college-info .college-badge {
    width: 46%; }
    .main02 .college-info .college-badge img {
      display: block;
      width: 100%; }
  .main02 .college-info .college-name {
    width: 44%;
    text-align: right;
    color: #0e2d60; }
    .main02 .college-info .college-name a {
      color: #0e2d60; }
  .main02 .college-info .address-container .location {
    display: inline-block; }
  .main02 .college-info .address-container .address {
    display: inline-block; }
  .main02 .college-info .address-container:after {
    content: "";
    display: table;
    clear: both; }
.main02 .estimate-button {
  border: none;
  background: #0e2d60;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px; }
.main02 .college-intentions table {
  width: 100%; }
  .main02 .college-intentions table tr:nth-child(even) {
    background: #f3f3f3; }
  .main02 .college-intentions table tr:nth-child(odd) {
    background: #fff; }
  .main02 .college-intentions table tr .disabled {
    color: #999; }

/*# sourceMappingURL=m-intentions.css.map */
