.alert-success {
  font-weight: bold;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 80px;
  height: 40px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  line-height: 40px;
  padding: 0 30px;
  text-align: center;
  display: none;
  z-index: 9999;
}

$heart_size: 12px;

.heart {
  background-color: red;
  display: inline-block;
  height: $heart_size;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: $heart_size;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: $heart_size;
  position: absolute;
  width: $heart_size;
}

.heart:before {
  top: -($heart_size / 2);
  left: 0;
}

.heart:after {
  left: ($heart-size / 2);
  top: 0;
}

.gray-heart {
  background-color: gray;
  display: inline-block;
  height: $heart_size;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: $heart_size;
}

.gray-heart:before,
.gray-heart:after {
  content: "";
  background-color: gray;
  border-radius: 50%;
  height: $heart_size;
  position: absolute;
  width: $heart_size;
}

.gray-heart:before {
  top: -($heart_size / 2);
  left: 0;
}

.gray-heart:after {
  left: ($heart-size / 2);
  top: 0;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.add-speciality-pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8888;
  min-height: 100vh;
  background: #fff;
  background: #ebebeb;
  .title {
    @include clearfix;
  }
  .header_r {
    color: #fff;
    line-height: 60px;
  }
  .content {
    margin-top: 60px;
    padding-top: 60px;
    background: #fff;
    .select-list {
      li {
        overflow: hidden;
        height: 60px;
        line-height: 60px;
        border-top: 1px #f6f6f6 solid;
        background: #fff;
        .list-item {
          color: #979797;
          padding-left: 1em;
          display: block;
          float: left;
          width: 18%;
          &.speciality {
            width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }

        .selected-item {
          &.dot {
            width: 10%;
          }
          width: 72%;
          float: right;
          color: #2d313a;
          text-align: right;
          margin-right: .5em;
          text-overflow: ellipsis;
          white-space: nowrap;
          img {
            margin-left: 1em;
          }
        }

      }
    }
  }
}

#estimate-detail-pop {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  z-index: 8888;
  position: fixed;
  left: 0;
  top: 0;

  .estimate-detail {
    position: absolute;
    padding: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 84%;
    height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #fff;

    .title {
      width: 80%;
      margin-bottom: 1em;
    }

    table {
      th {
        color: #6c6c6c;
      }
      td, th {
        text-align: center;
        line-height: 30px;
      }

      tr{
        &:nth-child(even){
          background: #f3f3f3;
          td{
            color: #1e1e1e;
          }
        }
        &:nth-child(odd){
          background: #fff;
        }
      }
    }
    .close{
      display: block;
      position: absolute;
      right: .4em;
      top: 0.1em;
      font-size: 2em;
      cursor: pointer;
    }
  }
}

.main02 {
  .intention {
    margin-top: 20px;
    background: #fff;
  }
  .college-info {
    padding: 1em;

    .line {
      display: block;
      margin-bottom: 5px;

      .left {
        float: left;
      }

      .right {
        float: right;
      }

      @include clearfix;
    }

    .college-badge {
      width: 46%;
      img {
        display: block;
        width: 100%;
      }
    }

    .college-name {
      width: 44%;
      text-align: right;
      color: #0e2d60;
      a {
        color: #0e2d60;
      }
    }

    .address-container {
      .location {
        display: inline-block;
      }

      .address {
        display: inline-block;
      }
      @include clearfix;
    }
  }

  .estimate-button {
    border: none;
    background: #0e2d60;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
  }
  .college-intentions {
    table {
      width: 100%;
      tr{
        &:nth-child(even){
          background: #f3f3f3;
        }
        &:nth-child(odd){
          background: #fff;
        }
        .disabled{
          color: #999;
        }
      }
    }
  }
}
