@import "normalize";

*{
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.app-content{
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.index-page{
  .header{
    height: 542px;
    background: url('/images/head_bg.jpg') no-repeat fixed top;
    background-size: cover;
    .evaluate-nav{
      width: 280px;
      height: 360px;
      margin-top: 70px;
      background: #fff;
      color: #041f47;
      position: relative;
      h1{
        line-height: 24px;
        font-size: 16px;
        padding-top: 20px;
        text-align: center;
        display: block;
      }
      ul{
        li{
          font-size: 15px;
          display: block;
          width: 100%;
          height: 60px;
          line-height: 60px;
          p{
            margin-left: 10px;
            span{
              float: right;
              margin-right: 10px;
            }
          }
        }
        .aboard-time{
          line-height: 30px;
          background: #f0f0f0;
        }
      }
      button{
        width: 240px;
        height: 40px;
        background-color: #fa8c55;
        position: absolute;
        top: 300px;
        margin-left: 20px;
        border: none;
        color: #fff;
        font-size: 15px;
        word-spacing: 30px;
      }
    }
  }
  .aboard-flow{
    height: 300px;
    width: 765px;
    margin: 0 auto;

    h1{
      text-align: center;
      font-size: 18px;
      width: 100%;
    }

    ul{
      overflow: auto;
      margin-right: -145px;
      li{
        margin-top: 25px;
        position: relative;
        float: left;
        width: 145px;
        margin-right: 145px;
        img{
          margin-left: 25px;
        }
        .index {
          font-size: 16px;
          position: absolute;
          left: 7px;
          width: 30px;
          font-weight: bold;
        }
        .flow-detail{
          width: 115px;
          font-size: 15px;
          float: right;
        }
      }
    }
  }
  .middle{
    height: 2560px;
    background: url('/images/bg.jpg') no-repeat scroll top;

    .consult{
      margin: 0 auto;
      position: relative;
      top: 300px;
      button{
        width: 550px;
        height: 40px;
        background-color: #fa8c55;
        border: none;
        color: #fff;
        margin: 0 auto;
        display: block;
        font-size: 15px;
        word-spacing: 30px;
      }
    }
  }
}

.top-nav-bar{
  width: 100%;
  height: 54px;
  overflow: auto;
  background-color: #00d8b3;
  box-shadow:0 8px 18px rgba(0,0,0,.2);
  z-index: 99;
  text-align: center;

  .top-bar-logo{
    float: left;
    display: block;
    line-height:0;
    font-size: 0;
    height: 33px;
    width: 134px;
    margin-left: 15px;
    margin-top: 11px;
  }

  .top-bar-content{
    font-size: 14px;
    margin-right: -55px;
    margin-top: 15px;
    a{
      color: #7de6ca;
    }
    .title-nav-bar{
      list-style-type: none;
    }
    float: right;
    width: 715px;
    overflow: auto;
    .nav-item{
      float: left;
      margin-right: 50px;
       &.active{
         a{
           color: #ffffff;
         }
       }
    }
  }
}

#login-panel{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  .mask{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
  }

  .panel{
    .close{
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
    }
    width: 345px;
    background: #f3f3f3 url('/images/login-logo.png') no-repeat;
    background-position: 24px 25px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .form-nav{
      margin-top: 30px;
      overflow: auto;
      ul{
        float: right;
        overflow: auto;
        margin-top: 10px;
        li{
          float: left;
          width: 45px;
          height: 30px;
          color: #acacac;
          &.active{
            color: #133462;
          }
        }
      }
    }
    .form{
      margin-top: 20px;
      .button{
        width: 300px;
        height: 40px;
        background: #1ddab0;
        border: none;
        color: #fff;
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;
      }

      .tips{
        font-size: 14px;
        line-height: 18px;
        color: #c6c6c6;
        display: block;
        padding-left: 30px;
        margin-bottom: 10px;
      }
    }
  }

  input{
    display: block;
    width: 290px;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 22px;
  }
  .sms-container{
    overflow: auto;
    .sms-input{
      width: 200px;
      float: left;
    }
    .grab-verify-code{
      border: none;
      font-size: 12px;
      line-height: 40px;
      float: right;
      margin-right: 19px;
      padding: 0 10px;
    }
  }
}
