@import "normalize";

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


*{
  margin: 0;
  padding: 0;
}

button{
  cursor: pointer;
}

body, html {
  height: 100%;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  min-height: 100vh;
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.hidden{
  display: none;
}

.app-content{
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.mask{
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}

.index-page{
  .header{
    height: 542px;
    background: url('/images/head_bg.jpg') no-repeat fixed top;
    background-size: cover;
    form{
      width: 460px;
    }
    .evaluate-nav{
      width: 280px;
      height: 360px;
      margin-top: 70px;
      background: #fff;
      color: #041f47;
      position: relative;
      h1{
        line-height: 24px;
        font-size: 16px;
        padding-top: 20px;
        text-align: center;
        display: block;
      }
      .select-item{
        li{
          font-size: 15px;
          display: block;
          width: 100%;
          height: 60px;
          line-height: 60px;
          p{
            margin-left: 10px;
            span{
              float: right;
              margin-right: 10px;
            }
          }
        }
        .estimate-val{
          line-height: 30px;
          margin-bottom: 10px;
          &.active{
            background: #f0f0f0;
          }
        }
      }
      .select-area{
        display: block;
        width: 189px;
        height: 360px;
        background: #f0f0f0;
        position: absolute;
        bottom: 0;
        right: -189px;
        ul{
          width: 100%;
          vertical-align: middle;
          margin-top: 70px;
          li{
            cursor: pointer;
            font-size: 15px;
            line-height: 40px;
            color: #0e2d60;
            text-align: center;
            &:hover{
              font-weight: bold;
            }
          }
        }
      }
      button{
        width: 240px;
        height: 40px;
        background-color: #fa8c55;
        position: absolute;
        top: 300px;
        margin-left: 20px;
        border: none;
        color: #fff;
        font-size: 15px;
        word-spacing: 30px;
      }
    }
  }
  .aboard-flow{
    height: 300px;
    width: 765px;
    margin: 0 auto;

    h1{
      text-align: center;
      font-size: 18px;
      width: 100%;
    }

    ul{
      @include clearfix;
      margin-right: -145px;
      li{
        margin-top: 25px;
        position: relative;
        float: left;
        width: 145px;
        margin-right: 145px;
        img{
          margin-left: 25px;
        }
        .index {
          font-size: 16px;
          position: absolute;
          left: 7px;
          width: 30px;
          font-weight: bold;
        }
        .flow-detail{
          width: 115px;
          font-size: 15px;
          float: right;
        }
      }
    }
  }
  .middle {
    height: 2560px;
    background: url('/images/bg.jpg') no-repeat scroll top;

    .consult {
      margin: 0 auto;
      position: relative;
      top: 250px;
      button {
        width: 550px;
        height: 40px;
        background-color: #fa8c55;
        border: none;
        color: #fff;
        margin: 0 auto;
        display: block;
        font-size: 15px;
        word-spacing: 30px;
      }
      img {
        margin: 0 auto 20px;
        display: block;
      }
      .questions {
        width: 550px;
        margin: 15px auto 0;
        @include clearfix;
        p {
          margin-bottom: 5px;
        }
        a {
          width: 260px;
          float: left;
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-decoration: none;
          color: #21406b;
          &:nth-child(2n) {
            margin-right: 30px;
          }
        }
      }
    }
    .consult-academy {
      margin: 0 auto;
      position: relative;
      top: 550px;
      .location {
        float: left;
        width: 230px;
        margin-right: 50px;
        div {
          &:not(:first-child) {
            margin-top: 10px;
          }
        }
        h3 {
          color: #0e2d60;
          margin-bottom: 10px;
          margin-left: 15px;
        }
        a {
          width: 90px;
          float: left;
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-decoration: none;
          color: #909090;
          margin-bottom: 5px;
          &:nth-child(2n) {
            margin-right: 10px;
            margin-left: 30px;
          }
        }
      }
      .academy {
        float: left;
        width: 820px;
        .search {
          margin-bottom: 30px;
          .search-text {
            float: left;
            width: 660px;
            height: 20px;
            padding: 10px 20px;
            background: #1ddab0;
            color: #fff;
            line-height: 20px;
            font-size: 16px;
            border: 0;
          }
          .search-button {
            float: left;
            height: 40px;
            width: 116px;
            border: 0;
            background: url("/images/search_ico.png") #fb9c04 50% 50% no-repeat;
          }
        }
        .subjects {
          a {
            display: inline-block;
            float: left;
            width: 273px;
            height: 120px;
            line-height: 120px;
            text-align: center;
            color: #fff;
            font-weight: bold;
            font-size:16px;
          }
          .more{
            width: 546px;
            background: #1ddab0;
          }
        }
      }
    }
    .link {
      padding: 20px;
      position: relative;
      top: 670px;
      .text-box{
        border-left: solid #fcb600 1px;
        padding-left: 20px;
        width: 380px;
        h3 {
          color: #0e2d60;
          margin-bottom: 20px;
          float: left;
        }
        .more{
          float: right;
          display: inline-block;
          width: 50px;
        }
        a {
          width: 350px;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-decoration: none;
          color: #909090;
          margin-bottom: 5px;
        }
      }
      .lang-study {
        position: absolute;
        top: 50px;
        left: 0;
      }
      .img-1 {
        position: absolute;
        top:320px;
        left: 0;
        width: 430px;
        height: 430px;
        -moz-box-shadow:2px 2px 5px #333333;
        -webkit-box-shadow:2px 2px 5px #333333;
        box-shadow:2px 2px 5px #333333;
      }
      .img-2 {
        position: absolute;
        top:240px;
        right: 0;
        width: 570px;
        height: 280px;
        -moz-box-shadow:2px 2px 5px #333333;
        -webkit-box-shadow:2px 2px 5px #333333;
        box-shadow:2px 2px 5px #333333;
      }
      .lang-study {
        position: absolute;
        top: 50px;
        left: 0;
      }
      .study-abroad {
        position: absolute;
        top:0;
        right: 20px;
      }
      .immigrant {
        position: absolute;
        top:550px;
        right: 60px;
        width: 490px !important;
      }
    }
  }
}
.assess{
  position: relative;
  margin-top: 50px;
  height:245px;
  padding-top: 50px;
  width: 100%;
  background: rgba(0,0,0,0.3);
  h1 {
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    span{
      font-size: 32px;
      color: #fa8c55;
    }
  }
  button {
    display: block;
    margin: 20px auto 0;
    height: 40px;
    width: 240px;
    border: 0;
    color: #fff;
    background: #fa8c55;
  }
}

.clear {
  zoom: 1;
  &:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
  }
}

.top-nav-bar{
  width: 100%;
  height: 54px;
  overflow: hidden;
  background-color: #00d8b3;
  box-shadow:0 8px 18px rgba(0,0,0,.2);
  z-index: 99;
  text-align: center;

  .top-bar-logo{
    float: left;
    display: block;
    line-height:0;
    font-size: 0;
    height: 33px;
    width: 134px;
    margin-left: 15px;
    margin-top: 11px;
  }

  .top-bar-content{
    font-size: 14px;
    margin-right: -55px;
    margin-top: 15px;
    a{
      color: #7de6ca;
    }
    .title-nav-bar{
      list-style-type: none;
    }
    float: right;
    width: 715px;
    @include clearfix;
    .nav-item{
      float: left;
      margin-right: 50px;
      &.active{
        a{
          color: #ffffff;
        }
      }

      .user-avatar{
        line-height: 33px;
        vertical-align: middle;
        position: relative;
        top: -6px;
        img{
          width: 30px;
          height: 30px;
          border-radius: 30px;
        }
      }
    }
  }
}


#login-panel{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;


  .panel{
    .close{
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
    width: 345px;
    background: #f3f3f3 url('/images/login-logo.png') no-repeat;
    background-position: 24px 25px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .form-nav{
      margin-top: 30px;
      @include clearfix;
      ul{
        float: right;
        @include clearfix;
        margin-top: 10px;
        li{
          cursor: pointer;
          float: left;
          width: 45px;
          height: 30px;
          color: #acacac;
          &.active{
            color: #133462;
          }
        }
      }
    }
    .form{
      margin-top: 20px;
      .button{
        width: 300px;
        height: 40px;
        background: #1ddab0;
        border: none;
        color: #fff;
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;
      }

      .tips{
        font-size: 14px;
        line-height: 18px;
        color: #c6c6c6;
        display: block;
        padding-left: 30px;
        margin-bottom: 10px;
      }
    }
  }

  input{
    display: block;
    width: 290px;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 22px;
  }
  .sms-container{
    @include clearfix;
    .sms-input{
      width: 200px;
      float: left;
    }
    .grab-verify-code{
      border: none;
      font-size: 12px;
      line-height: 40px;
      float: right;
      margin-right: 19px;
      padding: 0 10px;
    }
  }
}

.estimate-page{
  background-color: #e0e0e0;
  background-image: url("/images/estimate-bg.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;

  .estimate-form{
    width: 435px;
    position: absolute;
    left: 50%;
    margin-left: -272.5px;
    margin-top: 75px;

    label{
      font-size: 14px;
      color: #a1a1a1;
      line-height: 40px;
      width: 100px;
      display: inline-block;
    }

    h1{
      font-size: 15px;
      color: #0e2d60;
      margin-left: 210px;
      margin-bottom: 30px;
    }
    .form-group{
      display: block;
      width: 100%;
      @include clearfix;
    }
    .estimate-input{
      width: 298px;
      height: 40px;
      border: none;
      margin-bottom: 12px;
      padding-left: 2px;
    }



    .estimate-select{
      background: #fff url("/images/select_arrow.png") no-repeat 98%;
      height: 40px;
      width: 280px;
      border: none;
      overflow: hidden;
      padding-left: 20px;
      float: right;
      margin-bottom: 12px;
      select{
        background: transparent;
        border: none;
        height: 40px;
        width: 298px;
        -webkit-appearance: none;
        &:focus{
          outline: none;
        }
      }
    }
    .estimate-short-select{
      background: #fff url("/images/select_arrow.png") no-repeat 98%;
      height: 40px;
      border: none;
      overflow: hidden;
      padding-left: 20px;
      width: 120px;
      float: none;
      display: inline-block;
      select{
        -moz-appearance: window;
        text-indent: 0.01px;
        text-overflow: '';
        background: transparent;
        border: none;
        height: 40px;
        width: 118px;
        -webkit-appearance: none;
        &:focus{
          outline: none;
        }
      }
    }
  }
}

.estimate-result{
  .close{
    font-size: 20px;
    padding-top: 10px;
    padding-right: 10px;
    display: block;
  }

  .identity{
    @include clearfix;
    line-height: 40px;
    h1{
      font-size: 18px;
      color: #6c6c6c;
      display: inline-block;
      float: left;
    }

    ul{
      margin: 0.67em 0;
      margin-left: 100px;
      float: left;
      @include clearfix;
      li{
        margin-right: 90px;
        float: left;
        cursor: pointer;
        &.active{
          color: #0e2d60;
          border-bottom: solid;
          border-width: 4px;
        }
      }
    }
  }
  .college-list{
    width: 100%;
    .college-show{
      width: 100%;
      height: 180px;
      background: #fff;
      position: relative;
      .college-badge{
        margin-left: 27px;
        margin-top: 35px;
        display: inline-block;
      }
      .college-info{
        color: #6c6c6c;
        position: absolute;
        height: 140px;
        top: 0;
        margin-top: 10px;
        display: inline-block;
        margin-left: 68px;
        width: 410px;
        header{
          display: inline-block;
          width: 265px;
          h1{

            font-size: 18px;
            color: #000;

          }
          h2{
            font-size: 14px;
            margin-top: -10px;
            color: #6c6c6c;
          }
          .ielts-and-toelf-requirement{
            position: absolute;
            bottom: 0;
          }
        }
        .college-rank-info{
          float: right;
          position: relative;
          top: 24px;
          table{
            text-align: right;
          }
          tr{
            line-height: 27px;
            td{
              padding-left: 10px;
            }
          }
        }
      }
      .view-matching-detail{
        position: absolute;
        bottom: 25px;
        right: 15px;
        .view-details-button{
          cursor: pointer;
          background: #fff;
          border: none;
          color: #55e3c4;
          font-size: 15px;
        }
      }
      .score{
        width: 100px;
        height: 100px;
        position: absolute;
        right: 20px;
        top:25px;
        border-radius: 50px;
        color: #fff;
        background: #4ae1c0;
        .content{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          p{
            &:first-child{
              font-size: 40px;
              span{
                font-size: 12px;
              }
            }
            text-align: center;
            font-size: 12px;
          }
        }
      }
    }
  }
}
#estimate-detail-pop{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  .estimate-detail{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 870px;
    height: 360px;
    background: #f3f3f3;
    padding-left: 30px;
    padding-top: 15px;
    padding-right: 30px;

    h1{
      font-size: 16px;
    }

    table{
      width: 100%;
      border-spacing: 0;
      border: none;
      tr{
        line-height: 53px;
        td{
          border: none;
          text-align: center;
        }
      }
    }

    .estimate-button{
      margin: 0 auto;
      display: block;
      margin-top: 10px;
    }

    .close{
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
    }
  }
}

.college-badge{
  width:345px;
  height: 110px;
}
.estimate-button{
  width: 138px;
  color: #ffffff;
  border: none;
  background-color: #0e2d60;
  height: 30px;
  margin-left: 210px;
  margin-top: 40px;
}

.home-page{
  .mask{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .add-speciality-pop{
      .close{
        position: absolute;
        cursor: pointer;
        top: 10px;
        right: 10px;
      }
      font-size:16px;
      width: 800px;
      height: 370px;
      transform: translate(-50%, -50%);
      background: #fff;
      position: fixed;
      left: 50%;
      top: 50%;
      .form{
        margin-top: 100px;
        .estimate-button{
          display: block;
          margin: 0 auto;
          margin-top: 95px;
        }
        .form-group{
          width: 400px;
          margin: 0 auto;
          line-height: 40px;
          label{
            width: 100px;
            display: inline-block;
          }
        }
      }
    }
  }

  &.intentions{
    .estimate-button{
      margin-top: 0px;
    }
    .title{
      .estimate-button{
        line-height: 30px;
        margin-left: 590px;
      }
    }
    .college-intentions{
      margin-top: 40px;
      table{
        border-spacing: 0;
        width: 100%;
        input{
          width: 30px;
        }
        tr:nth-child(odd){
          background: #f3f3f3;
        }
        tr{
          line-height: 50px;
          text-align: center;
        }
      }
    }

    .college{
      .estimate-button{
        margin:0 auto;
        display: block;
      }

      position: relative;
      width: 100%;
      height: 180px;
      background: #fff;
      margin-bottom: 10px;
      .college-badge{
        margin-left: 27px;
        margin-top: 35px;
        display: inline-block;
        width: 334px;
        height: 109px;
      }
      .college-info{
        color: #6c6c6c;
        position: absolute;
        height: 165px;
        top: 0;
        margin-top: 10px;
        display: inline-block;
        margin-left: 28px;
        width: 425px;
        header{
          float: left;
          width: 228px;
          h1{
            font-size: 18px;
            color: #000;
            a{
              font-size: 18px;
              color: #000;
            }
          }
          h2{
            font-size: 14px;
            margin-top: -10px;
            color: #6c6c6c;
          }
          .ielts-and-toelf-requirement{
            position: absolute;
            bottom: 0px;
          }
        }
        .college-rank-info{
          float: right;
          margin-right: 10px;
          position: relative;
          top: 24px;
          tr{
            line-height: 27px;
            td{
              padding-left: 10px;
            }
          }

          a{
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
    }
  }

  background: #ebebeb;
  .page-content{
    width: 100%;
    @include clearfix;
  }

  .home-slider{
    float: left;
    margin-top: 60px;
    width: 215px;
    height: 445px;
    background: #fff;
    position:relative;
    a{
      color: #1e1e1e;
    }

    .user-info{
      width: 100%;
      .logout{
        font-size: 15px;
        text-align: right;
        padding-top: 10px;
        padding-right: 10px;
        font-weight: bold;
      }

      .user-avatar{
        position: absolute;
        top: 40px;
        left: calc(215px / 2 - 40px);
        img{
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }
      }
      .user-username{
        position: absolute;
        width: 100%;
        top: 140px;
        text-align: center;
        font-weight: bold;
      }
    }
    ul{
      padding-top: 195px;
      width: 100%;
      li{
        margin-bottom: 30px;
        line-height: 25px;
        &.active{
          border-left: solid 3px #0e2d60;
          a{
            color: #0e2d60;
            position: relative;
            left: -3px;
          }
        }
        padding-left: 75px;
        color: #0e2d60;
        font-size: 15px;
        font-weight: bold;
      }
    }
  }

  .home-content{
    float: right;
    margin-top: 60px;
    width: 876px;
    .title{
      display: block;
      background: #fff;
      height: 54px;
      padding-left: 30px;
      color: #1e1e1e;
      font-size: 15px;
      line-height: 54px;
      font-weight:bold;
    }

    .content{
      width: calc(100% - 30px);
      background: #fff;
      margin-top: 8px;
      padding-left: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 14px;
      label{
        width: 160px;
        display: inline-block;
        line-height: 30px;
        margin-bottom: 30px;
      }

      input{
        height: 30px;
        width: 200px;
      }

      .estimate-button{
        margin: 0 0;
      }

      .message-table{
        width: 100%;
        border: none;
        border-spacing: 0 4px;
        font-size: 16px;
        .message{
          background: #fff;
          height: 108px;
          margin-top: 4px;
          border: none;
          .message-title{
            padding-left: 15px;
            width: 142px;
          }
          .message-content{
            width: 550px;
          }
          .created_at{
            font-size: 14px;
            color: #6c6c6c;
          }
          .actions{
            width: 20px;
            font-size: 14px;
            cursor: pointer;
          }
        }
      }
    }

    .colleges{
      padding-top: 25px;
      .college{
        position: relative;
        width: 876px;
        height: 180px;
        background: #fff;
        margin-bottom: 10px;
        .college-badge{
          margin-left: 27px;
          margin-top: 35px;
          display: inline-block;
          width: 334px;
          height: 109px;
        }
        .college-info{
          color: #6c6c6c;
          position: absolute;
          height: 165px;
          top: 0;
          margin-top: 10px;
          display: inline-block;
          margin-left: 28px;
          width: 425px;
          header{
            float: left;
            width: 228px;
            h1{
              font-size: 18px;
              color: #000;
              a{
                font-size: 18px;
                color: #000;
              }
            }
            h2{
              font-size: 14px;
              margin-top: -10px;
              color: #6c6c6c;
            }
            .ielts-and-toelf-requirement{
              position: absolute;
              bottom: 0px;
            }
          }
          .college-rank-info{
            float: right;
            margin-right: 10px;
            position: relative;
            top: 24px;
            tr{
              line-height: 27px;
              td{
                padding-left: 10px;
              }
            }

            a{
              font-size: 14px;
              font-weight: bold;
            }
          }
        }
      }
    }


  }
}

.footer{
  width: 100%;
  height: 200px;
  background: #0e2d60;
  padding-top: 70px;
  .logo{
    float: left;
    margin: 0 40px;
  }

  .text {
    float: left;
    margin-left:120px;
    color: #fff;
    a {
      display: block;
      color: #fff;
      margin: 8px 0;
    }
  }

  .copyright {
    float: left;
    margin-left:120px;
    color: #fff;
    img {
      float: left;
      margin: 25px;
    }
  }
}

.shanbox{
  width:500px;
  height:40px;
  background-color:#666;
  border-radius:5px;
  line-height:40px;
  text-align:center;
  position:fixed;
  top:50%;
  left:50%;
  margin-left:-250px;
  margin-top:-20px;
  z-index:999999;
  font-size:14px;
  font-weight:bold;
  color:#FFF;}


@-webkit-keyframes fadeOut {
  0% { opacity: 1; }
  50% {opacity: 1;}
  100% { opacity: 0; }
}
@-moz-keyframes fadeOut {
  0% { opacity: 1; }
  50% {opacity: 1;}
  100% { opacity: 0; }
}
@-o-keyframes fadeOut {
  0% { opacity: 1; }
  50% {opacity: 1;}
  100% { opacity: 0; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  50% {opacity: 1;}
  100% { opacity: 0; }
}

.shanbox{
  -webkit-animation-name:fadeOut;
  -moz-animation-name:fadeOut;
  -o-animation-name:fadeOut;
  animation-name:fadeOut;

  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: both;
  -ms-animation-duration: 1s;
  -ms-animation-timing-function: ease;
  -ms-animation-fill-mode: both;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
.search-area{
  margin-top: 40px;
  input{
    width: 690px;
    background: #ebebeb;
    height: 40px;
    padding-left: 10px;
    border: none;
  }
  .search-button{
    background-image: url("/images/search-button.png");
    width: 126px;
    height: 40px;
    border: none;
    padding: 0;
    position: relative;
    left: -4px;
    bottom: 1px;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;
  }
}

.tag-area{
  margin-top: 30px;
  .tag-select{
    width: 100%;
    margin-bottom: 20px;
    color: #6c6c6c;
    font-size: 14px;
    @include clearfix;

    label{
      width: 130px;
      display: inline-block;
    }
    .tags{
      width: calc(100% - 130px);
      float: right;
      .tag{
        cursor: pointer;
        display: inline-block;
        margin-right: 20px;
        &.active{
          color: #0e2d60;
          font-weight: bold;
        }
      }
    }
  }
}

.colleges-rank-page{
  .app-content{
    @include clearfix;
  }
  .tabs{
    float: left;
    padding-left: 250px;
    width: 600px;
    font-size: 15px;
    color: #6c6c6c;
    a{
      font-size: 15px;
      color: #6c6c6c;
    }

    .tab{
      height: 50px;
      line-height: 50px;
      display: inline-block;
      margin-right: 60px;
      &.active{
        color: #0e2d60;
        border-bottom: solid #0e2d60 4px;
        font-weight: bold;
      }
      cursor: pointer;
    }
  }
}

.colleges-rank-page-content{
    background-color: #e0e0e0;
    background-image: url("/images/estimate-bg.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 14px;
    @include clearfix;

    .rank-list{
      width: 206px;
      margin-right: 10px;
      margin-top: 20px;
      float: left;
      background-color: #fff;
      .level-1{
        display: block;
        background-color: #00d8b3;
        font-size: 14px;
        line-height: 35px;
        color: #fff;
        text-align: center;
        &.active{
          color: #0e2d60 !important;
          font-weight: bold;
        }
      }
      .level-2{
        display: block;
        font-size: 14px;
        line-height: 30px;
        padding-left: 26px;
        color: #000;
        &.active{
          color: #0e2d60 !important;
          font-weight: bold;
        }
      }
      .level-3{
        display: block;
        font-size: 14px;
        line-height: 30px;
        padding-left: 36px;
        color: #000;
        &.active{
          color: #0e2d60 !important;
          font-weight: bold;
        }
      }

    }
    table{
      width: 608px;
      float: left;
      padding-top: 20px;
      border-spacing: 0;
      margin-bottom: 20px;
      tr{
        line-height: 50px;
        &:nth-child(even){
          background: #f3f3f3;
        }
        &:nth-child(odd){
          background: #fff;
        }
      }
      .rank{
        padding-left: 30px;
        width: 50px;
        font-size: 18px;
      }
      .chinese_name{
        width: 200px;
      }
      .english_name{
        width: 350px;
      }
      .actions{

      }
    }
    button{
      cursor: pointer;
      margin: 0 0;
      line-height: 30px;
    }
}

.colleges-page{
  .search-result{
    background-color: #e0e0e0;
    background-image: url("/images/estimate-bg.png");
    min-height: 100vh;
    background-repeat: repeat;
    background-position: center;

    .colleges{
      padding-top: 25px;
      .college{
        position: relative;
        width: 825px;
        height: 180px;
        background: #fff;
        margin-bottom: 10px;
        .college-badge{
          margin-left: 27px;
          margin-top: 35px;
          display: inline-block;
          width: 334px;
          height: 109px;
        }
        .college-info{
          color: #6c6c6c;
          position: absolute;
          height: 165px;
          top: 0;
          margin-top: 10px;
          display: inline-block;
          margin-left: 28px;
          width: 425px;
          header{
            float: left;
            width: 228px;
            h1{
              font-size: 18px;
              color: #000;
              a{
                font-size: 18px;
                color: #000;
              }
            }
            h2{
              font-size: 14px;
              margin-top: -10px;
              color: #6c6c6c;
            }
            .ielts-and-toelf-requirement{
              position: absolute;
              bottom: 0px;
            }
          }
          .college-rank-info{
            float: right;
            margin-right: 10px;
            position: relative;
            top: 24px;
            tr{
              line-height: 27px;
              td{
                padding-left: 10px;
              }
            }

            a{
              font-size: 14px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .order-area{
    padding: 20px 0;
    border-top: solid #ebebeb 1px;
    font-size: 14px;
  }
}

.pagination{
  li{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #fff;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    &.active{
      color: #0e2d60;
      font-weight: bold;
    }
  }
}

.college-page{
  .college-page-header{
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;

    .college-name{
      margin-top: 300px;
      margin-left: 90px;
      h1{
        font-size: 53px;
        color: #fff;
        font-weight: bold;
      }
      p{
        font-size: 15px;
        width: 300px;
        margin-top: 25px;
        color: #fff;
        height: 172px;
        text-overflow: "…";
        overflow: hidden;
      }
    }
  }
  .college-page-content{
    .college-content-header{
      padding-top: 24px;
      .college-logo{
        width: 239px;
        height: 76px;
        display: inline-block;
        margin-left: 10px;
        vertical-align: top;
      }
      .college-info{
        display: inline-block;
        margin-left: 40px;
        h1{
          color: #000;
          font-size: 22px;
          line-height: 24px;
          margin-bottom: 10px;
          margin-top: 0;
        }
        h2{
          color: #6c6c6c;
          font-size: 15px;
          line-height: 24px;
          margin-bottom: 10px;
        }
        .img-container{
          float: left;
          width: 30px;
        }
        .info-content{
          float: left;
        }
        .info{
          line-height: 24px;
          margin-bottom: 5px;
          font-size: 15px;
          color: #6c6c6c;
          @include clearfix;
        }
      }

      .ranks{
        vertical-align: top;
        display: inline-block;
        margin-left: 180px;
        li{
          display: inline-block;
          height: 110px;
          margin-left: 20px;
          .rank{
            margin: 0 auto;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            line-height: 60px;
            font-size: 24px;
            color: #fff;
            text-align: center;
            margin-bottom: 30px;
          }
          .rank-name{
            font-size: 15px;
            color: #6c6c6c;
          }
        }
      }
    }
  }

  .college-page-nav{
    height: 54px;
    border-top: solid #f4f4f4 2px;
    .app-content{
      @include clearfix;
    }
    ul{
      float: left;
      width: 600px;
      font-size: 15px;
      color: #6c6c6c;
      a{
        font-size: 15px;
        color: #6c6c6c;
      }

      li{
        height: 50px;
        line-height: 50px;
        display: inline-block;
        margin-right: 60px;
        &.active{
          color: #0e2d60;
          border-bottom: solid #0e2d60 4px;
          font-weight: bold;
        }
        cursor: pointer;
      }
    }
    .actions{
      float: right;
      vertical-align: top;
      margin-top: 10px;
      button{
        width: 90px;
        cursor: pointer;
        margin-top: 0;
        margin-left: 10px;
      }
    }
  }

  .college-specialities-search{
    .search-area{
    }
  }

  .college-page-detail{
    .app-content{
      padding-top: 20px;
    }

    background-image: url("/images/estimate-bg.png");
    min-height: 100vh;
    background-repeat: repeat;
    background-position: center;

    .speciality{
      width: 785px;
      height: 130px;
      background: #fff;
      padding-top: 40px;
      padding-left: 20px;
      margin-bottom: 10px;
      position: relative;
      h1{
        font-size: 18px;
        margin: 0 0;
        margin-bottom: 30px;
      }

      p{
        color: #6c6c6c;
        font-size: 14px;
      }

      button{
        cursor: pointer;
        position: absolute;
        top: -40px;
        right: 0;
      }
    }
  }
  .college-pages{
    @include clearfix;
    .college-overview{
      float: left;
      width: 824px;
      @include clearfix;
      min-height: 515px;
      .tabs{
        min-height: 515px;
        float: left;
        width: 180px;
        background: #0e2d60;
        color: #fff;
        font-size: 15px;
        text-align: center;
        li{
          cursor: pointer;
          line-height: 50px;
          &.active{
            background: #fff;
            color: #0e2d60;
          }
          box-sizing: border-box;
          border-left: solid #0e2d60 3px;
        }
      }
      .content-areas{
        font-size: 14px;
        padding: 20px 45px;
        min-height: calc(515px - 40px);
        float: left;
        background: #fff;
        width: calc(100% - 270px);
      }
    }
    .college-applications{
      width: 827px;
      &:after{
        content: '';
        display: block;
        clear: both;
      }
      .left-grid{
        width: 256px;
        float: left;
      }
      .right-grid{
        width: 410px;
        margin-left: 10px;
        float: left;
      }

      .article{
        width: calc(100% - 60px);
        display: inline-block;
        background: #fff;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 40px;
        padding-right: 20px;
        margin-bottom: 20px;
        vertical-align: top;
        header{
          font-size:20px;
          margin-bottom:20px;
          font-weight: bold;
        }
      }
    }

    .college-galleries{
      @include clearfix;
      .college-gallery{
        cursor: pointer;
        width: 267px;
        height: 220px;
        float: left;
        margin-right: 12px;
        .img-container{
          width: 100%;
          height: 168px;
          display: block;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .name{
          width: 100%;
          height: 52px;
          background: #fff;
          text-align: center;
          line-height: 52px;
          font-size: 15px;
        }
      }
    }

    .college-list-articles{
      width: 824px;
      .article{
        width: 100%;
        height: 36px;
        @include clearfix;
        margin-bottom: 2px;
        line-height: 36px;
        font-size: 14px;
        background: #fff;

        .identity{
          float: left;
          width: 30px;
          text-align: center;
        }
        a{
          display: block;
          float: left;
          color: #373737;
          h1{
            font-size: 14px;
            margin: 0 0;
          }
        }

        .created_at{
          float: right;
          color: #c1c1c1;
          padding-right: 10px;
        }
      }
    }
  }
}

.college-sidebar{
  width: 266px;
  margin-left: 10px;
  float: left;
  padding-top: 20px;
  @include clearfix;
  .tab{
    height: 54px;
    background-color: #fff;
    margin-bottom: 1px;
    a{
      display: inline-block;
      //width: 90px;
      //margin: 0 20.5px;
      width: 90px;
      margin: 0 88px;
      height: 55px;
      line-height: 55px;
      text-align: center;
      color: #6c6c6c;
      &:hover{
        height: 52px;
        color: #0e2d60;
        border-bottom: 3px solid #0e2d60;
        font-weight: bold;
      }
    }
    .active{
      height: 52px;
      color: #0e2d60;
      border-bottom: 3px solid #0e2d60;
      font-weight: bold;
    }
  }
}
.college-recommend{
  @include clearfix;
  padding: 50px 0;
  h3{
    display: block;
    width: 100%;
    color: #071f47;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    a{
      float: right;
      color: #6c6c6c;
      font-size: 12px;
    }
  }
  .college-single:not(:last-child){
    margin-right: 12px;
  }
}
.college-single{
  width: 240px;
  padding: 13px;
  margin-bottom: 1px;
  background-color: #fff;
  float: left;
  .separator{
    margin: 10px 0;
    background-color: #ebebeb;
    height: 1px;
  }
  img {
    width: 242px;
    height: 105px;
  }
  .row{
    @include clearfix;
    .name{
      color: #000;
    }
    span{
      color: #6c6c6c;
    }
    .left{
      float: left;
    }
    .right{
      float: right;
    }
  }
}

.icon-wrap{
  cursor: pointer;
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  left: 10%;
  top: calc(50% - 30px);

  &-next{
    right: 10%;
    transform: rotate(180deg);
    cursor: pointer;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: calc(50% - 30px);
    &:before{
      -webkit-transform: translateX(-50%) rotate(30deg);
      transform: translateX(-50%) rotate(30deg);
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%;
      content: " ";
      position: absolute;
      left: 25%;
      width: 3px;
      height: 50%;
      background: #fff;
      -webkit-transition: -webkit-transform .3s,background-color .3s;
      transition: transform .3s,background-color .3s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    &:after{
      top: 50%;
      -webkit-transform: translateX(-50%) rotate(-30deg);
      transform: translateX(-50%) rotate(-30deg);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      content: " ";
      position: absolute;
      left: 25%;
      width: 3px;
      height: 50%;
      background: #fff;
      -webkit-transition: -webkit-transform .3s,background-color .3s;
      transition: transform .3s,background-color .3s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }

  &:before{
    -webkit-transform: translateX(-50%) rotate(30deg);
    transform: translateX(-50%) rotate(30deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    content: " ";
    position: absolute;
    left: 25%;
    width: 3px;
    height: 50%;
    background: #fff;
    -webkit-transition: -webkit-transform .3s,background-color .3s;
    transition: transform .3s,background-color .3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &:after{
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(-30deg);
    transform: translateX(-50%) rotate(-30deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    content: " ";
    position: absolute;
    left: 25%;
    width: 3px;
    height: 50%;
    background: #fff;
    -webkit-transition: -webkit-transform .3s,background-color .3s;
    transition: transform .3s,background-color .3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.gallery-view{
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;

  header{
    text-align: center;
    margin-top: 2em;
    h1{
      color: #fff;
      margin: 0 auto;
    }
  }

  .close{
    font-size: 25px;
    color: #fff;
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
  }

  .image-viewer{
    width: 50%;
    margin: 0 auto;
    padding: 5% 0;
    vertical-align: middle;
    img{
      width: 100%;
    }
  }
}

$heart_size: 12px;

.heart {
  background-color: red;
  display: inline-block;
  height: $heart_size;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: $heart_size;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: $heart_size;
  position: absolute;
  width: $heart_size;
}

.heart:before {
  top: -($heart_size / 2);
  left: 0;
}

.heart:after {
  left: ($heart-size / 2);
  top: 0;
}

.gray-heart {
  background-color: gray;
  display: inline-block;
  height: $heart_size;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: $heart_size;
}

.gray-heart:before,
.gray-heart:after {
  content: "";
  background-color: gray;
  border-radius: 50%;
  height: $heart_size;
  position: absolute;
  width: $heart_size;
}

.gray-heart:before {
  top: -($heart_size / 2);
  left: 0;
}

.gray-heart:after {
  left: ($heart-size / 2);
  top: 0;
}

#phone-panel{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;

  .panel{
    background: #fff;
    width: 400px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .title {
      height: 50px;
      padding-left:20px;;
      p {
        font-size: 14px;
        line-height: 50px;
      }
    }

    .phone-form {
      .row {
        margin-bottom: 20px;
        label {
          display: inline-block;
          line-height: 35px;
          width: 90px;
          padding-left: 30px;
        }
        input {
          height: 35px;
          width: 200px;
          line-height: 35px;
          padding-left:5px ;
          border: solid #ebebeb 1px;
        }
        .warning {
          font-size: 12px;
          line-height: 25px;
          color: #ff0042;
          margin-left: 126px;
        }
        .code {
          display: inline-block;
          input {
            width: 95px !important;
          }
          button {
            margin-left: 6px;
            width: 95px;
            height: 35px;
            color: #fff;
            background: #17cba3;
            border: none;
          }
        }
        .close {
          color: #0e2d60;
          line-height: 40px;
          font-size: 14px;
          width: 80px;
          text-align: center;
          display: inline-block;
          float: right;
        }
        .change {
          float: right;
          height: 40px;
          width: 100px;
          border: none;
          color: #fff;
          background: #0e2d60;
          margin-right: 20px;
        }
      }
    }

  }
}
